<% 
    const randomFromColor=Math.floor(Math.random() * 10);
    const randomToColor=Math.floor(Math.random() * 10);
    const colorList = ['pink','violet','blue','red','orange','lime','teal','indigo','pink','blue'];
%> 
<div class="flex flex-col justify-center items-center">
  
  <div class="content-title my-8">
      <a class="text-gray-300 text-8xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-<%- colorList[randomFromColor] %>-500 to-<%- colorList[randomToColor] %>-500">
        <%- titlecase(page.category) %>
      </a>
  </div>
  <div class="divide-y">
  <% page.posts.sort('date', -1).each(function(item) { console.log(item.categories);%>
    <div class="p-5">
      <div class="flex flex-col items-center" title="<%- item.title %>">
        <a class="text-2xl text-gray-300 hover:text-gray-800  transition duration-300 ease-in-out" href="<%- url_for(item.path) %>">
          <span><%- item.title %></span>
        </a>
        <span class="text-sm text-gray-300"><%- item.date.format("YYYY-MM-DD") %></span>
      </div>
    </div>
  <% }) %>
</div>
  <nav class="my-10 text-sm text-gray-500 mx-5">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>"><i class="fa-solid fa-angle-left"></i></a>
    <% } %>
    <span class="page-num"><%- page.current %> <i class="mx-5 fa-solid fa-paperclip"></i> <%- page.total -%></span>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>"><i class="fa-solid fa-angle-right"></i></a>
    <% } %>
  </nav>
</div>
