<!DOCTYPE html>
<html lang="<%= config.language %>" color-mode="light">

  <%- partial('_partial/header') %>

  <body class="bg-gray-100">
    <div id="app">
      <%- partial('_partial/navigation') %>

      <div class="Body">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>
    </div>
  </body>
</html>
