<% if (page.type==="tags" ) { %>
<div class="flex flex-col justify-center items-center">
  <i class="text-lg text-gray-400 fa-solid fa-compass-drafting border-b border-gray-300 p-5"> 태그 <span class="text-sm text-gray-300">기술 태그 별 게시글</span></i>
  <%
  site.tags.sort('date', -1).each((item,index)=>{
    const randomFromColor=Math.floor(Math.random() * 10);
    const randomToColor=Math.floor(Math.random() * 10);
    const colorList = ['pink','violet','blue','red','orange','lime','teal','indigo','pink','blue'];
  %>
    <!-- 태그 뷰 출력 -->
    <div class="my-5 flex flex-col max-w-3xl w-full border-l-4 border-gray-300 hover:border-<%- colorList[randomFromColor] %>-500 transition duration-300 ease-in-out">
      <div>
        <a class="p-3 text-gray-300 text-2xl sm:text-5xl font-extrabold hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-<%- colorList[randomFromColor] %>-500 hover:to-<%- colorList[randomToColor] %>-500" href="/<%- item.path %>">
          <%- titlecase(item.name) %>
        </a>
        </div>

    </div>
  <% }) %>
</div>
<% } %>

<!-- 카테고리 뷰 페이지 -->
<% if (page.type==="categories" ) { %>
  <div class="flex flex-col justify-center items-center">
    <i class="text-lg text-gray-400 fa-solid fa-person-military-pointing border-b border-gray-300 p-5"> 시리즈 <span class="text-sm text-gray-300">카테고리 별 게시글</span></i>
  <%
  site.categories.sort('date', -1).each((item,index)=>{
    const randomFromColor=Math.floor(Math.random() * 10);
    const randomToColor=Math.floor(Math.random() * 10);
    const colorList = ['pink','violet','blue','red','orange','lime','teal','indigo','pink','blue'];
  %>
    <!-- 카테고리 뷰 출력 -->
    <div class="my-5 flex flex-col max-w-3xl w-full border-l-4 border-gray-300 hover:border-<%- colorList[randomFromColor] %>-500 transition duration-300 ease-in-out">
      <div>
        <a class="p-3 text-gray-300 text-2xl sm:text-5xl font-extrabold hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-<%- colorList[randomFromColor] %>-500 hover:to-<%- colorList[randomToColor] %>-500" href="/<%- item.path %>">
          <%- titlecase(item.name) %>
        </a>
        </div>

    </div>
  <% }) %>
  </div>
<% } %>

<% if(page.type==="about" ) { %>
<div class="container about-index">
  <div class="markdown-body">
    <%- page.content %>
  </div>
</div>
<% } %>

<!-- 게시글 페이지 -->
<% if (!page.type) { %>
  <% 
    const iconName=page.tech ? page.tech.toLowerCase() : 'buffer' ;
    const techName=page.tech || 'Else' ;
    const iconColor=page.techColor || 'gray'
    const subTitle=page.subTitle;
    const randomThumbnailCount=Math.floor(Math.random() * theme.thumbnail.length);
    const thumbnailImage=page.thumbnailImage || theme.thumbnail[randomThumbnailCount].url;
    const thumbnailAuth=theme.thumbnail[randomThumbnailCount].auth;
    const thumbnailTextColor=theme.thumbnail[randomThumbnailCount].textColor;
  %>
  <div class="flex flex-col w-full justify-center items-center" id="post-details">
    <!-- 테크 아이콘 -->
    <i class="my-5 text-3xl fa-brands fa-<%- iconName %> text-<%- iconColor %>-400"></i>

    <!-- 타이틀 -->
    <div class="flex flex-col my-5 mx-3 post-title text-3xl font-['Poppins'] font-bold lg:text-5xl">
      <%- page.title %>
      <span class="font-thin text-sm text-gray-400">
        <%- page.date.format("YYYY-MM-DD") %>
      </span>
    </div>

    <!-- 썸네일&서브타이틀 -->
    <div class="my-5 flex flex-col justify-center items-center h-[40rem] max-h-[40rem] w-full max-w-[80rem] bg-cover bg-[url('<%- thumbnailImage %>')]">
      <% if(subTitle) { %>
      <span class="font-thin text-4xl text-<%- thumbnailTextColor %> w-full break-words p-5 text-center">
        <%- subTitle %>
      </span>
      <% }%>
    </div>

    <!-- 이미지 저작권 표시 -->
    <span class="text-xs text-gray-200 w-full text-right max-w-[80rem]">
      <%- thumbnailAuth %>
    </span>

    <!-- 태그, 카테고리 표시 -->
    <div class="flex flex-col my-10">
      <% for(item of theme.navbar) { if (item.key==='tags' && item.enable) { if(page.tags && page.tags.length> 0) { %>
      <div class="tags my-3">
        <i class="iconfont icon-tags" title="<%= __('tags') %>"></i>
        <% for(let item of page.tags.data) { %>
        <span class="bg-gray-200 text-gray-500 rounded p-1 mr-1">
          <a href="<%= url_for(item.path)%>" title="<%- item.name %>">
            # <%- item.name %>
          </a>
        </span>
        <% } %>
      </div>
      <% } } if (item.key==='categories' && item.enable) { if(page.tags && page.categories.length> 0) { %>
      <div class="post-categories">
        <i class="iconfont icon-bookmark" title="<%= __('categories') %>"></i>
        <% for(let item of page.categories.data){ %>
        <span class="bg-blue-200 text-blue-500 rounded p-1 mr-1">
          <a href="<%= url_for(item.path)%>" title="<%- item.name %>">
            <b>S. </b>
            <%- item.name %>
          </a>
        </span>
        <% } %>
      </div>
      <% } } } %>
    </div>
    <!-- 게시글 콘텐츠 -->
    <article class="text-sm sm:text-base post-content flex flex-col max-w-3xl w-full mt-10 prose prose-zinc p-3 prose-figure:overflow-x-auto prose-figure:m-0 prose-h1:mt-10 prose-h1:mb-1 lg:prose-figure:overflow-visible prose-code:bg-blue-200 prose-code:font-normal prose-code:text-blue-500 prose-code:rounded prose-code:p-1">
      <h1>Overview</h1>
      <%- toc(page.content,{list_number:false}) %>
      <hr>
      <%- page.content %>
    </article>
  </div>
<% if(theme.prevnext.enable) { %>
<div class="p-5 flex flex-col w-full justify-center items-center">
  <div class='my-5'>
    <div class="post-foot-next">
      <% if(page.next) { %>
      <a href="<%- url_for(page.next.path) %>" target="_self">
        <i class="fa-solid fa-angle-left"></i>
        <span>
          <%= __('이전글') %>
        </span>
      </a>
      <% } %>
    </div>
    <div class="post-foot-prev">
      <% if(page.prev) { %>
      <a href="<%- url_for(page.prev.path) %>" target="_self">
        <span>
          <%= __('다음글') %>
        </span>
        <i class="fa-solid fa-angle-right"></i>
      </a>
      <% } %>
    </div>
  </div>
  <!-- 댓글 구성 -->
  <% if(theme.comments.enable) { %>
  <div class="max-w-3xl w-full justify-center p-3">
    <%- partial("_partial/comments") %>
  </div>
  <% } %>
</div>
<% } %>
</div>
</div>
<% } %>