<div class="">
  <div class="flex justify-center mt-5">
    <ul class="flex flex-row">
      <% for(let item of theme.navbar) { if (item.enable) { %>
      <li class="mx-5 transition duration-300 ease-in-out text-base font-medium hover:text-sky-500 hover:decoration-2 hover:underline hover:decoration-sky-500" data-path="<%- item.path %>">
        <a href="<%- item.path %>"><%- item.name %></a>
      </li>
      <% } } %>
    </ul>
  </div>
  <div class="my-20 flex items-center justify-center">
    <!-- Avarta - 아바타 -->
    <div class="mx-3 w-14 h-14 rounded-full overflow-hidden drop-shadow-lg">
      <a href="<%- theme.avatar.path %>">
        <img
          class="object-cover"
          src="<%- theme.avatar.author_photo %>"
          alt="avarta"
        />
      </a>
    </div>
    <!-- Avarta - 아바타 -->
    <!-- Name - 이름 -->
    <div class="flex flex-col">
      <a class="text-lg font-semibold text-gray-900" href="<%- theme.avatar.path %>"
        ><%- theme.avatar.author_nickname %></a
      >
      <a class="text-sm text-gray-400" href="<%- theme.avatar.path %>"
        ><%- theme.avatar.author_job %></a
      >
      <% if(is_home()) { %>
      <a class="text-sm text-gray-300 w-80" href="<%- theme.avatar.path %>"
        ><%- theme.avatar.author_bio %></a
      >
      <% } %>
    </div>
    <!-- Name - 이름 -->
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
